
<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your email address and we'll send you an email with instructions to reset your password.
        </p>
        <div class="form-outline fr mt-4">
            <a id="forget" data-bs-toggle="modal" data-bs-target="#exampleModal" class="font-weight-bold">forget password</a>
         </div>
            <!-- <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Click here toproceed</button> -->
    
        <!-- <a href="#" class="btn btn-primary w-100">Reset password</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="#">Login</a>
            <a class="" href="#">Register</a>
        </div> -->
    </div>
</div>

<!-- 

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center
        min-vh-100 g-0">
      <div class="col-12 col-md-8 col-lg-4 border-top border-3 border-primary">
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="mb-4">
              <h5>Forgot Password?</h5>
              <p class="mb-2">Enter your registered email ID to reset the password
              </p>
            </div>
            <form  [formGroup]="forgetForm" (ngSubmit)="OnSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input formControlName="Email" type="email" id="email" class="form-control" name="email" placeholder="Enter Your Email"
                  required="">
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input formControlName="Password" type="password" id="password" class="form-control" name="password" placeholder="Enter New Password"
                  required="">
              </div>
              <div class="mb-3">
                <label for="RPassword" class="form-label">Confirm Password</label>
                <input formControlName="RPassword" type="password" id="email" class="form-control" name="password" placeholder="Retype Password"
                  required="">
              </div>
              <div class="mb-3 d-grid">
                <button routerLink="login" type="submit" class="btn btn-primary">
                  Reset Password
                </button>
              </div>
              <span>Don't have an account? <a routerLink="login">sign in</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- model -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" arial-hidden="true">
    <div class=" modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="exampleModalLabel"> <span style="font-size: 25px;font-weight: 700;">Forget Your Password?</span><br>
                <small>Please provide your e-mail we will send reset link</small>
                </p>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>

            <div class="modal-body">
                <div class="form-group pt-3">
                    <div class="input-field"> <span class="fa fa-user p-2"></span>
                        <input type="text" placeholder="Email"></div>
                        </div>
                        
                        
                        <small>Email is required</small>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">close</button>
                        <button type="button" class="btn btn-primary">send</button>
                    </div>

                </div>
            </div>
        </div>
  